@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.button = "Bao hanh";
    ViewBag.active = 3;

}
<a href="~/Service/Text">Giá</a>
<br />
<a href="~/Service/FormThemMoi" style="float:right">Thêm mới</a><br />
<a href="~/Service/Themmoi2" style="float:right">Thêm mới 2</a>

<br />

<!-- services -->
<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage text_align_center ">
                    <h2>Our Massage Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id="ho_shad" class="services_box text_align_left">
                    <h3>Ayurveda Spa</h3>
                    <figure><img src="~/frontend/images/service1.jpg" alt="#" /></figure>
                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    <a class="read_more" href="service.html">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div id="ho_shad" class="services_box text_align_left">
                    <h3>Massage Spa</h3>
                    <figure><img src="~/frontend/images/service2.jpg" alt="#" /></figure>
                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    <a class="read_more" href="service.html">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div id="ho_shad" class="services_box text_align_left">
                    <h3>Luxury Spa</h3>
                    <figure><img src="~/frontend/images/service3.jpg" alt="#" /></figure>
                    <p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                    <a class="read_more" href="service.html">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end services -->@section home{
    <div class="hedingh3 text_align_left">
        <h3>Service</h3>
        <p>
            @*Sẽ thay đỏi khi view khác nhau*@
            Đây là Service
            @*Sẽ thay đỏi khi view khác nhau*@

        </p>
    </div>
}
@section meta{
    <!-- basic -->

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- mobile metas -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

}
